body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download {
    font-size: 16px;
    color: aquamarine;
}

#video-demo {
    margin-top: 1.5em;
}

#travel-guide h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

#travel-guide p {
    font-size: 21px;
    color: gray;
}

#mobile-app {
    margin-top: 21px;
}

#mobile-app h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}